div{
    height: 400px;
    width: 50px;
    background-color: red;
    color:white;
    font-size: 24px;
    margin: 20px 0px;
}

.static{
    top: 200px;
}

.relative{
    position: relative; 
    left: 200px;
    top: 100px;
    z-index: 3;
}

.x{
    position:relative;
    left: 100px;
    z-index: 6;
}

.absolute{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0;
}

.fixed{
    height: 100px;
    position: fixed;
    top:40%;
    right: 0
}

.sticky{
    height: 100px;
    position: sticky;
    background-color: blue;
    top:100px;
    right: 0
}